{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'scheduler/main.css' %}">
    <title>{{ current }}</title>
</head>
<body>
{% if rows %}
<header class="day">
    <div class="prev"><a href="{% url 'day' prev %}">{{ prev }}</a></div>
    <div class="today"><a href="{% url 'index' %}">Today</a></div>
    <div class="next"><a href="{% url 'day' next %}">{{ next }}</a></div>
</header>
<h1>{{ current }}</h1>
<div class="day">
    <div></div>
    {% for t in intervals %}
    <div>{% if t.minute == 0 %}{{ t|time:"H:i" }}{% endif %}</div>
    {% endfor %}

    {% for row in rows %}
    <div><a href="{% url 'user-day' row.user.id current %}">{{ row.user.name }}</a></div>
        {% for e in row.intervals %}
            {% if e is None %}
            <div class="unavailable"></div>
            {% elif e == "BUSY" %}
            <div class="busy"></div>
            {% else %}
            <div class="free"></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

{% if unassigned %}
<h2>{{ unassigned.count }} Unassigned Event{{ unassigned.count|pluralize }}</h2>
<div class="unassigned">
    <div class="header">Name</div>
    <div class="header">Starts</div>
    <div class="header">Ends</div>
    {% for event in unassigned %}
    <div>{{ event.name }}</div>
    <div>{{ event.starts|time:"H:i" }}</div>
    <div>{{ event.ends|time:"H:i" }}</div>
    {% endfor %}
</div>
{% endif %}

<div id="generate">
    <button id="generate-event">Generate A Random Event</button>
</div>
<script>
    var button = document.getElementById("generate-event");
    button.addEventListener("click", function(e) {
        fetch("{% url 'generate-day' current %}", {method: "POST"}).then(res => {
            location.reload();
        });
    }, false);
</script>    
{% else %}
<p>No users available.</p>
{% endif %}
</body>
</html>